.vin{

    background-color:5F9EA0;
    font-size: 100px;
    font-weight:bold;
    color:#BC8F8F;
    
}

.tom{

    background-color:5F9EA0;
    font-size: 100px;
    font-weight:bold;
    color:#BC8F8F;
    
}